/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    box-sizing: border-box;
    border: none;
    outline: none;
}

img { max-width: 100%; }

ul { list-style: none; }

body { background: #f1f2f6;}

a {text-decoration: none;}

/* container flex */
.flex {
    display: flex;
}

.container {
    width: 100%;
    padding: 10px;
}

.container a {
    width: 25%;
    background-color: #fff;
    padding: 10px 7px 10px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.02);
}

.container .card-info {
    width: 98%;
}

.container .card-info .status{
    width: 2%;
    height: 140px;
    float: right;
    background-color: #8cc152;
    border-radius: 5px;
}

.container .card-info i {
    width: 55px;
    height: 56px;
    border-radius: 55px;
    padding: 17px;
    margin-top: -1;
    background-color: #f62459;
    color: #fff;
    text-align: center;
    float: left;
}

.container .card-info label {
    font-size: 14px;
    font-weight: 700;
    color: #434a54;
    text-overflow: ellipsis;
    display: block;
    float: left;
    width: 80%;
    cursor: pointer;
}


.container .card-info .op-info span{
    width: 98%;
    float: left;
}

.container .card-info .op-info span label{
    width: 50%;
    float: left;
    padding: 10px;
    font-weight: normal;
    font-size: 10px;
    color: #656d78;
    cursor: pointer;
}

.container .card-info .op-info2 span{
    width: 98%;
    float: left;
}

.container .card-info .op-info2 span label{
    width: 50%;
    float: left;
    padding-left: 10px;
    font-weight: 700;
    font-size: 12px;
    color: #434a54;
    cursor: pointer;
}